body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../src/image/thumb-1920-1003880.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.col {
    background-color: rgb(136, 116, 1);
    margin: 2px;
    text-align: center;
    padding: 10px;
    color: white ; 
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col:hover {
    background-color: indianred;
}

#screen {
    background-color: grey;
    font-size: x-large;
    width: 100%;
    height: 100px;
    
}
#result {
    height: 80px;
}

.dark { 
    background-color: black ; 
    margin: 2px;
    text-align: center;
    padding: 10px;
    color: white ; 
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark:hover { 
    background-color: white;
    color: black;
}